## Verisetini tanıyalım, gözlem yapalım

# Veriseti Hikayesi

Bu veriseti, benim kitap okurken çeşitli verileri defterime kaydedip sonra da excele almama dayanır.

* date = Okumanın tarihi

* start_time = Okumaya başladığım saat

* finish_time = Okumayı bitirdiğim saat

* writer = Okuduğum kitabın yazarı

* book = Kitabın adı

* start_page = Okumaya başladığım sayfanın sayısı

* finish_page = Okumayı bitidiğim sayfanın sayısı

* summary_size = Okuduğum sayfa aralıklarını değerlendirip yazdığım özet ya da çıkarımların kelime sayısı

* is_section_liked = Okuduğum aralığı beğendim mi ? 0=Hayır, 1=Evet

In [2]:
import pandas as pd

In [3]:
my_readings = pd.read_excel("/home/baran/Software/Studies/Data-Science&Machine-Learning-Studies/Reading-Habits-Project/assets/My_readings.xlsx")
df = my_readings.copy()

In [4]:
df.head() #veriseti hakkinda ilk 5 gozlem

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked
0,2020-05-03,15:00:00,15:45:00,J.P. Sartre,Bulanti,felsefik,15.0,38.0,68.0,1
1,2020-03-09,17:00:00,18:00:00,J.P. Sartre,Bulanti,felsefik,39.0,75.0,73.0,1
2,2020-03-11,19:00:00,20:00:00,J.P. Sartre,Bulanti,felsefik,75.0,105.0,50.0,1
3,2020-03-11,20:10:00,20:40:00,Thomas More,Utopya,utopik,3.0,26.0,91.0,1
4,2020-03-22,18:00:00,19:00:00,J.P. Sartre,Bulanti,felsefik,106.0,134.0,27.0,1

In [5]:
df.info() # verisetimizin özellikleri

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              35 non-null     datetime64[ns]
 1   start_time        35 non-null     object
 2   finish_time       35 non-null     object
 3   writer            35 non-null     object
 4   book              35 non-null     object
 5   kind              35 non-null     object
 6   start_page        32 non-null     float64
 7   finish_page       32 non-null     float64
 8   summary_size      32 non-null     float64
 9   is_section_liked  35 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 2.9+ KB

In [6]:
df.shape #verisetimizin gözlem ve değişken sayisi

(35, 10)

In [7]:
df.dtypes #verisetimizdeki değişkenlerin türü

date                datetime64[ns]
start_time                  object
finish_time                 object
writer                      object
book                        object
kind                        object
start_page                 float64
finish_page                float64
summary_size               float64
is_section_liked             int64
dtype: object

In [8]:
df.describe().T # sayısal değerlerin özellikleri

,count,mean,std,min,25%,50%,75%,max
start_page,32.0,102.093750,88.524594,1.0,35.00,73.0,155.00,335.0
finish_page,32.0,126.718750,92.404173,15.0,58.00,103.5,173.75,381.0
summary_size,32.0,31.281250,19.503903,0.0,19.75,27.0,40.00,91.0
is_section_liked,35.0,0.914286,0.284029,0.0,1.00,1.0,1.00,1.0

In [9]:
#hiç eksik gözlem(değer) var mı
df.isnull().values.any()

True

In [10]:
#hangi değişkende kaçar tane var
df.isnull().sum()

date                0
start_time          0
finish_time         0
writer              0
book                0
kind                0
start_page          3
finish_page         3
summary_size        3
is_section_liked    0
dtype: int64