### Önceki veriler ile kaç dakika kitap okuduğumu gösteren yeni bir değişken oluşturup dataframe'e sütun olarak ekleyelim

In [24]:
run 3_Yeni_degisken_reading_pages.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              35 non-null     datetime64[ns]
 1   start_time        35 non-null     object
 2   finish_time       35 non-null     object
 3   writer            35 non-null     object
 4   book              35 non-null     object
 5   kind              35 non-null     object
 6   start_page        32 non-null     float64
 7   finish_page       32 non-null     float64
 8   summary_size      32 non-null     float64
 9   is_section_liked  35 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 2.9+ KB

Şimdi finish_time dan start_time ı çıkararak kaç dakika okuduğumu bulmak istiyorum.

In [25]:
#df["finish_time"] - df["start_time"]   Hata veren kod.

# Datetime.time objeleri arasında çıkartma işlemi yapmıyor, hata veriyor.

------
Bahsettiğim çıkartmayı yapabilmek için başta tipi datetime.time olan "start_time" ve "finish_time"ı datetime'a çevirmem gerektiğini düşündüm niye böyle düşündüm bilmiyorum ancak hiç gerek yokmuş yine de hatamı silmiyorum kalsın ders alalım :)

In [26]:
# Bahsettiğim hatam

# df['start_time'] = pd.to_datetime(df['start_time'])

---

Sonrasında şu combine fonksiyonunu buldum, datetime.time'ı tek başına birbirinden çıkaramıyormuşuz, ilk başta gün ve saat olarak birleştirmek gerekiyor ve saat olarak değerleri kaymasın diye ikisine de, sonradan çıkarırken birbirlerini sıfırlasın diye aynı gün tarihini veriyoruz (date.today()).

In [27]:
from datetime import datetime

## datetime.combine(date.today(), df["finish_time"]) - datetime.combine(date.today(), df["start_time"])

df["finish_time"] ya da df["start_ time"] diyerek direkt olarak dizi olan, dataframe sütunu ile işlem yapmaya kalktık kabul etmedi, bu yüzden dataframein o sütunlarının tek tek satırlarıyla işlem yapmak gerekiyor yani df[finish_time][5] - df[start_time][5] gibi. Bunu da aşağıdaki gibi bir fonksiyonu stackoverflow'dan bir hayırseverin yardımıyla hallettim.

---

Hemen bir üstteki kodun çalışan versiyonu

In [28]:
from datetime import date

def reading_time(df):
       return datetime.combine(date.today(), df["finish_time"]) - datetime.combine(date.today(), df["start_time"])

df['reading_time'] = df.apply(reading_time, axis=1)

In [29]:
df.tail()
#verisetine sürekli kuyruğundan bakıyorum çünkü başındaki değerlerde saat yok yani 00:00:00

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked,read_pages,reading_time
30,2020-06-15,16:00:00,17:00:00,Dostoyevski,Suc ve Ceza,roman,253,296,11,True,43,01:00:00
31,2020-06-16,21:00:00,22:00:00,Dostoyevski,Suc ve Ceza,roman,297,334,26,True,37,01:00:00
32,2020-06-16,22:15:00,22:45:00,Platon,Sokratesin Savunmasi,felsefik,40,59,31,True,19,00:30:00
33,2020-06-17,16:00:00,16:30:00,Platon,Sokratesin Savunmasi,felsefik,60,76,40,True,16,00:30:00
34,2020-06-17,21:45:00,22:55:00,Dostoyevski,Suc ve Ceza,roman,335,381,38,True,46,01:10:00

Görüldüğü üzere reading_time olarak kaç dk kitap okuduğum bilgisini ekledik ancak bunun tam sayı olarak dakika cinsinden olmasını istiyorum.

---

Şimdi de saat formatından integer olarak dakikaya dönsün istiyorum

In [30]:
df["reading_time"] = df["reading_time"].dt.seconds.astype('int')

In [31]:
df["reading_time"].tail()

30    3600
31    3600
32    1800
33    1800
34    4200
Name: reading_time, dtype: int64

Bu sefer de saniye oldu, bu yüzden hemen aşağıda 60a bölelim.

---

In [32]:
df["reading_time"] = df["reading_time"]/60
df["reading_time"].tail()

30    60.0
31    60.0
32    30.0
33    30.0
34    70.0
Name: reading_time, dtype: float64

In [33]:
# Float olan reading_time'ı integer'a çevirelim

df['reading_time'] = df['reading_time'].astype('int')
df.tail()

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked,read_pages,reading_time
30,2020-06-15,16:00:00,17:00:00,Dostoyevski,Suc ve Ceza,roman,253,296,11,True,43,60
31,2020-06-16,21:00:00,22:00:00,Dostoyevski,Suc ve Ceza,roman,297,334,26,True,37,60
32,2020-06-16,22:15:00,22:45:00,Platon,Sokratesin Savunmasi,felsefik,40,59,31,True,19,30
33,2020-06-17,16:00:00,16:30:00,Platon,Sokratesin Savunmasi,felsefik,60,76,40,True,16,30
34,2020-06-17,21:45:00,22:55:00,Dostoyevski,Suc ve Ceza,roman,335,381,38,True,46,70