# Proje

Bu projeyi veribilimi ve makine öğrenmesi alanında öğrendiklerimi kendi üzerimde uygulamak için yapıyorum.

## Amaç

* Verisetini işlenebilir hale getirdikten sonra makineye öğretip; hangi saatlerde daha verimli okuma yaptığımı, hangi saatlerde yazdığım özetin sayfa sayısına oranla daha uzun olduğunu, hangi kitapları beğenip beğenmediğimi, en çok hangi yazarların kitaplarında vakit geçirdiğimi, önceki verilere dayanarak saat bilgisi eksik olan okumalarımın saatlerinin ne olabileceği ve daha birçok soruyu veri bilimi ve makine öğrenmesi kullanarak bilgisayarın cevaplamasını sağlamak.

# Veriseti Hikayesi

Bu veriseti, benim kitap okurken çeşitli verileri defterime kaydedip sonra da excele almama dayanır.

* date = Okumanın tarihi

* start_time = Okumaya başladığım saat

* finish_time = Okumayı bitirdiğim saat

* writer = Okuduğum kitabın yazarı

* book = Kitabın adı

* start_page = Okumaya başladığım sayfanın sayısı

* finish_page = Okumayı bitidiğim sayfanın sayısı

* summary_size = Okuduğum sayfa aralıklarını değerlendirip yazdığım özet ya da çıkarımların kelime sayısı

* is_section_liked = Okuduğum aralığı beğendim mi ? 0=Hayır, 1=Evet

In [48]:
import pandas as pd

In [47]:
my_readings = pd.read_excel("My_readings.xlsx")
df = my_readings.copy()

In [49]:
df.head() #veriseti hakkinda ilk 5 gozlem

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked
0,2020-05-03,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,15.0,38.0,68.0,1
1,2020-03-09,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,39.0,75.0,73.0,1
2,2020-03-11,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,75.0,105.0,50.0,1
3,2020-03-11,00:00:00,00:00:00,Thomas More,Utopya,utopik,3.0,26.0,91.0,1
4,2020-03-22,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,106.0,134.0,27.0,1

In [50]:
df.shape #verisetimizin gözlem ve değişken sayisi

(35, 10)

In [51]:
df.dtypes #verisetimizdeki değişkenlerin türü

date                datetime64[ns]
start_time                  object
finish_time                 object
writer                      object
book                        object
kind                        object
start_page                 float64
finish_page                float64
summary_size               float64
is_section_liked             int64
dtype: object

In [52]:
# is_section_liked değişkenini integerdan booleana çevirelim
df['is_section_liked'] = df['is_section_liked'].astype('bool')

In [53]:
df.dtypes

date                datetime64[ns]
start_time                  object
finish_time                 object
writer                      object
book                        object
kind                        object
start_page                 float64
finish_page                float64
summary_size               float64
is_section_liked              bool
dtype: object

--

#### Değerler arası tip dönüşümlerine devam etmem gerekiyor ancak eksik veri varken yapmıyor, bu sebeple tüm eksik veriler yerine -1 yazacağım, ama saat verisi içerenlere 00:00:00.  böylece onları daha sonra hatırlarım eksik veri olduğunu.

In [54]:
df["start_time"].fillna("00:00:00", inplace = True)
df["finish_time"].fillna("00:00:00", inplace = True)

In [54]:
df.fillna(-1, inplace = True)

In [55]:
df.head()

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked
0,2020-05-03,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,15.0,38.0,68.0,True
1,2020-03-09,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,39.0,75.0,73.0,True
2,2020-03-11,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,75.0,105.0,50.0,True
3,2020-03-11,00:00:00,00:00:00,Thomas More,Utopya,utopik,3.0,26.0,91.0,True
4,2020-03-22,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,106.0,134.0,27.0,True

Eksik değerleri doldurduk, şimdi dönüşümlere devam edebiliriz.

In [56]:
# start_page, finish_page ve summary_size  değişkenlerini integer yapmak istiyorum
df['start_page'] = df['start_page'].astype('int')
df['finish_page'] = df['finish_page'].astype('int')
df['summary_size'] = df['summary_size'].astype('int')
df.dtypes

date                datetime64[ns]
start_time                  object
finish_time                 object
writer                      object
book                        object
kind                        object
start_page                   int64
finish_page                  int64
summary_size                 int64
is_section_liked              bool
dtype: object

--

Şimdi de writer, kind ve book değişkenlerinin kategorik değişken (category) olmasını istiyorum.

In [57]:
#üstte yaptığımızın aksine bu sefer tek tek değil de hepsini bir satır kodda yapalım.

df[['writer', 'kind', 'book']] = df[['writer', 'kind', 'book']].astype('category')
df.dtypes

date                datetime64[ns]
start_time                  object
finish_time                 object
writer                    category
book                      category
kind                      category
start_page                   int64
finish_page                  int64
summary_size                 int64
is_section_liked              bool
dtype: object

In [58]:
# Şimdi de start_time ve finish_time değişkenlerini object'ten datetime'a çevirelim.
df['start_time'] = pd.to_datetime(df['start_time'])

#HATA ALIYORUZ

TypeError: <class 'datetime.time'> is not convertible to datetime

#### Şimdi, okumayı bitirdiğim sayfa numarasından, başladığımı çıkarıp kaç sayfa okuduğumu gösteren bir değişken oluşturmak istiyorum.

In [59]:
read_pages = df["finish_page"] - df["start_page"]
read_pages

0     23
1     36
2     30
3     23
4     28
5     24
6     18
7     21
8      9
9     11
10     4
11     9
12    11
13    14
14    18
15    26
16    10
17    27
18     0
19     0
20     0
21     2
22    35
23    29
24    46
25    57
26    14
27    43
28    36
29    23
30    43
31    37
32    19
33    16
34    46
dtype: int64

In [60]:
# Şimdi bulduğumuz bu sayıları "read_pages" adı altında yeni bir kolon olarak ekleyelim

df["read_pages"] = read_pages

In [61]:
df.head()

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked,read_pages
0,2020-05-03,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,15,38,68,True,23
1,2020-03-09,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,39,75,73,True,36
2,2020-03-11,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,75,105,50,True,30
3,2020-03-11,00:00:00,00:00:00,Thomas More,Utopya,utopik,3,26,91,True,23
4,2020-03-22,00:00:00,00:00:00,J.P. Sartre,Bulanti,felsefik,106,134,27,True,28

In [62]:
# okuduğum sayfa ortalamasına bakalım

df["read_pages"].describe()

count    35.000000
mean     22.514286
std      14.691677
min       0.000000
25%      11.000000
50%      23.000000
75%      32.500000
max      57.000000
Name: read_pages, dtype: float64

------

In [68]:
df["finish_time"] - df["start_time"]

# Ama obje type'ını dönüşüm yapamadığımız için hata alıyoruz bu sorun, 1.hata çözülünce çözülmüş olacak

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'